.quicktip {
	margin-bottom:15px;
	padding: 10px;
	line-height: 1.2 !important;
	font-family: Georgia,"Times New Roman",Palatino,Times,serif;
	color: #000;
	border-left: 3px solid #FB0;
	font-size: 14px;
}

.wikiqtextract {
	font-family: Georgia,"Times New Roman",Palatino,Times,serif;
}

.wikiqtextract p {
	margin-bottom:0;
}

.qtheader {
	font-family: verdana,arial,helvetica,sans-serif;
}

.mutelink {
	color:black!important;
}

#spruch {
	margin-bottom:20px;
	padding: 5px;
	line-height: 1.2 !important;
	color: #070;
	border-left: 3px solid #070;
	font-size: 16px;
	font-family: Georgia,"Times New Roman",Palatino,Times,serif;
}

.author {
	float: right !important;
}

.quicktip h1 {
	font-size: 22px;
	margin-top: 0px;
}

.quicktip.aufruf {
        border-left: 3px solid #FF4000;
        color: #FF4000;
}
