*{
	
}

label.select-label {
    margin-bottom: 0;
    margin-top: 10px;
}

select.form-control {
    width: 200px;
    margin-top: 10px;
}

div.checkbox a.glyphicon {
    margin-left: 5px;
    font-size: 12px;
}

a:hover {
    cursor: pointer;
}

.btn-danger {
    margin-top: 25px;
}

input.btn.btn-primary {
    margin-top: 25px;
    margin-right: 10px;
}

h3 {
    font-size: 20px;
}

.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

#lead {
    white-space: pre-wrap;
}