main.mg-panel {
    text-align: left;
}

code {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.metager-searchinput {
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-right: 0px none;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin:0px;
}

.metager-searchbutton {
  height: 30px;
  border-left: 0px none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #CCC;
  padding: 6px 12px;
  margin:0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;
  color: #555;
  text-align: center;
  background-color: #EEE;
}

.metager-logo {
  height: 30px;
  float: left;
  top:-2px;
  margin-right: 3px;
}